<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label label-required-next">分类名称</label>
            <div class="layui-input-block">
                <input class="layui-input" name="name" value="{$vo.name|default=''}" required placeholder="请填写分类名称">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">流程归属</label>
            <div class="layui-input-block">
                <select id="orders_process_id_form" class="layui-select" name="orders_process_id"/>
            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.project_level_type_id'}<input type='hidden' value='{$vo.project_level_type_id}' name='project_level_type_id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

</form>

{block name='script'}
<script>
    $.ajax({
        url:"{:url('api/query/ordersProcessArray')}",
        success:function(result){
            result = JSON.parse(result);
            var orders_process_id = "{$vo.orders_process_id|default=0}";
            var select = "";
            for(var i = 0;i < result.length;i++){
                select = "";
                if(orders_process_id > 0 && orders_process_id == result[i]["orders_process_id"]){
                    select = "selected";
                }
                $("#orders_process_id_form").append("<option " + select + " value='" + result[i]["orders_process_id"] + "'>" + result[i]["name"] + "</option>");
            }
            form.render();
        }
    });
    form.render();
</script>
{/block}
