<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="__PUBLIC__/static/order/form2.css">
  <script src="__PUBLIC__/static/order/form2.js"></script>
  <script src="__PUBLIC__/static/order/jquery.validate.js"></script>
</head>
<body>

<form class="layui-form" action="{:url('place')}" method="post" >
  {:token_field()}
  <input type="hidden" id="handler" value="{$handler}">
  <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
      <li class="layui-this">基本信息</li>
      <li>提成信息</li>
      <li>补助和服务费</li>
      <li>时间</li>
      <li>发票</li>
      <li>备注</li>
    </ul>
    <div class="layui-tab-content">
      <!-- 基本信息填写 -->
      <div class="layui-tab-item layui-show">
        <!-- 项目名称 -->
        <div class="layui-form-item">
          <label class="layui-form-label">项目名称 </label>
          <div class="layui-input-block">
            {if $handler=='place'}
            <input value="test"  type="text" id="project" required  lay-verify="required" name="project_id"
              placeholder="请输入项目名称" autocomplete="off" class="layui-input toCheck">
            {else/}
            <input  type="text" id="project" value="{$order->getProjectName($order->project_id)}" required  lay-verify="required" name="project_id"
              autocomplete="off" class="layui-input toCheck">
            {/if}
          </div>
        </div>
        <!-- 企业名称 -->
        <div class="layui-form-item">
          <label class="layui-form-label">企业名称 </label>
          <div class="layui-input-block">
            {if $handler=='place'}
            <input value="1234"  type="text" id="enterprise" name="enterprise_id" required  lay-verify="required" placeholder="请输入企业名称"
             autocomplete="off" class="layui-input toCheck">
            {else/}
            <input  type="text" id="enterprise" name="enterprise_id" required  lay-verify="required"  
              value="{$order->getEnterpriseName($order->enterprise_id)}"
              autocomplete="off" class="layui-input toCheck">
             {/if}
          </div>
        </div>
        <!-- 商务人员 -->
        <div class="layui-form-item">
          <label class="layui-form-label">商务人员 </label>
          <div class="layui-input-block" class="userContainer">
            {if $handler=='place'}
            <input value="test" type="text" id="user1" name="receiving_user_ids[]" required  lay-verify="required" placeholder="请输入商务人员"
               autocomplete="off" class="layui-input toCheck user">
            {else/}
              {foreach :json_decode($order->receiving_user_ids) as $user_id}
            <input type="text" id="user1" name="receiving_user_ids[]" required  lay-verify="required"  value="{:getNickname($user_id)}"
              autocomplete="off" class="layui-input toCheck user">
              {/foreach}
            {/if}

            <button type="button" class="layui-btn layui-btn-sm addUserBtn"  title="请输入商务人员">
              <i class="layui-icon">&#xe654;</i>
            </button>
          </div>
        </div>
        <!-- 部门 -->
        <div class="layui-form-item">
          <label class="layui-form-label">部门</label>
          <div class="layui-input-block">
              <select id="department" name="department" required class="layui-select">
                  <option value="">请选择部门</option>
                  <option selected value="PROJECT" >项目部</option>
                  <option value="DICHOTOMY">两化部</option>
                  <option value="KNOWLEDGE">知识产权部</option>
                  <option value="FINANCE">财务部</option>
              </select>
          </div>
      </div>
      </div>

      <!-- 提成信息填写 -->
      <div class="layui-tab-item">
        <div class="layui-form-item">
          <label class="layui-form-label">接单人提成(%)</label>
          <div class="layui-input-block">
            {if $handler == 'place'}
            <input type="number" name="receiving_commission" value="10" required  
              lay-verify="required" placeholder="请输入接单人提成" autocomplete="off" class="layui-input">
            {else/}
              <input type="number" name="receiving_commission" value="{$order->receiving_commission}" required  
              lay-verify="required" autocomplete="off" class="layui-input">
            {/if}
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">负责人提成(%)</label>
          <div class="layui-input-block">
            <input type="number" name="responsible_commission" value="8" required  lay-verify="required" 
              placeholder="请输入负责人提成" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">知识产权提成金额(￥)</label>
          <div class="layui-input-block">
            <input type="number" name="total_commission" value="0" required  lay-verify="required" 
              placeholder="请输入知识产权提成金额" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">订单数量</label>
          <div class="layui-input-block">
            <input type="number" name="order_number" value="1" required  lay-verify="required" 
              placeholder="请输入订单数量" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">付款方式</label>
          <div class="layui-input-block">
            <input value="aaa" type="text" name="payment_method"  required  lay-verify="required" 
              placeholder="请输入付款方式" autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
      <!-- 补助和服务费填写 -->
      <div class="layui-tab-item">
        <div class="layui-form-item">
          <label class="layui-form-label">公示补助额度</label>
          <div class="layui-input-block">
            <input type="number" name="publicity_subsidy" value="0" required  lay-verify="required" 
              placeholder="请输入公示补助额度" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">首期补助下达</label>
          <div class="layui-input-block">
            <input type="text" name="first_subsidy" value="0" required  lay-verify="required" 
              placeholder="请输入首期补助下达" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">首期服务费</label>
          <div class="layui-input-block">
            <input type="number" name="first_service_cost" value="0" required  lay-verify="required" 
              placeholder="请输入首期服务费" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">第二期补助下达</label>
          <div class="layui-input-block">
            <input type="number" name="second_subsidy" value="0" required  lay-verify="required" 
              placeholder="请输入第二期补助下达" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">第二期服务费</label>
          <div class="layui-input-block">
            <input type="number" name="second_service_cost" value="0" required  lay-verify="required" 
              placeholder="请输入第二期服务费" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">第三期补助下达</label>
          <div class="layui-input-block">
            <input type="number" name="third_subsidy" value="0" required  lay-verify="required" 
              placeholder="请输入第三期补助下达" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">第三期服务费</label>
          <div class="layui-input-block">
            <input type="number" name="third_service_cost" value="0" required  lay-verify="required" 
              placeholder="请输入第三期服务费" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">合同签约额(含第三方)</label>
          <div class="layui-input-block">
            <input type="number" name="contract_subsidy" value="0"  required  lay-verify="required" 
              placeholder="请输入合同签约额(含第三方)" autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
      <!-- 时间信息填写 -->
      <div class="layui-tab-item">
        <div class="layui-form-item">
          <label class="layui-form-label">收款时间</label>
          <div class="layui-input-block">
            <input type="date" name="collection_time"   lay-verify="required" 
              placeholder="请输入收款时间" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">申报时间</label>
          <div class="layui-input-block">
            <input type="date" name="declare_time"   lay-verify="required" 
              placeholder="请输入申报时间" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">公示时间</label>
          <div class="layui-input-block">
            <input type="date" name="publicity_time"   lay-verify="required" 
              placeholder="请输入公示时间" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">签约时间</label>
          <div class="layui-input-block">
            <input type="date" name="signing_time"   lay-verify="required" 
              placeholder="请输入签约时间" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">开票时间</label>
          <div class="layui-input-block">
            <input type="date" name="invoice_time"   lay-verify="required" 
              placeholder="请输入开票时间" autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
      <!-- 发票信息填写 -->
      <div class="layui-tab-item">
        <div class="layui-form-item">
          <label class="layui-form-label">发票号码</label>
          <div class="layui-input-block">
            <input type="text" name="invoice_number"   lay-verify="required" 
              placeholder="请输入发票号码" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">开票金额</label>
          <div class="layui-input-block">
            <input type="text" name="invoice_money"   lay-verify="required" 
              placeholder="请输入开票金额" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">发票内容</label>
          <div class="layui-input-block">
            <textarea name="invoice_content" placeholder="请输入发票内容" class="layui-textarea"></textarea>
          </div>
        </div>
      </div>
      <!-- 备注填写 -->
      <div class="layui-tab-item">
        <div class="layui-form-item layui-form-text">
          <div class="layui-input-block">
            <textarea name="remarks" id="remarks" placeholder="请输入备注" class="layui-textarea"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>  
</form>
{if $handler == 'place'}
<button class="layui-btn layui-btn-checked" type='submit'>下单</button>
{else/}
<button class="layui-btn layui-btn-checked" type='submit'>保存修改</button>
{/if}  
</body>
</html>