<div>
<button data-modal='{:url("add2")}' data-title="预下单" class='layui-btn layui-btn-normal layui-btn-primary'>预下单</button>
</div>
<div class="layui-tab layui-tab-card think-bg-white">
    <div class="layui-tab-content think-box-shadow">
        {include file='index/index_search'}
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
              <li class="layui-this" id="WaitToApprovalOrders">待审核订单</li>
              <li id="DepartmentOrders">本部门订单</li>
              <li id="FinishedOrders">完成订单</li>
              <li id="RejectOrders">驳回订单</li>
              <li id="AllOrders">全部订单</li>
            </ul>
            <div id="orders">
              {include file="index/orders"}
            </div>
    </div>
</div>
<script>
    $(function() {
      $("#WaitToApprovalOrders").trigger('click')
      // 点击订单分类获取该类订单
      $(".layui-tab-title li").click(function() {
        $.ajax({
          type: "post",
          url: "orders/OrderNavigation/get" + this.id,
          success: function(data) {
            $("#orders").html(data)
          }
        })
      })
    })
</script>
