{extend name='main'}

{block name="button"}

{if auth("add")}
<button data-modal='{:url("add")}' data-title="添加等级" class='layui-btn layui-btn-sm layui-btn-primary'>添加等级</button>
{/if}

{/block}

{block name="content"}
<div class="think-box-shadow">
    {empty name='list'}
    <blockquote class="layui-elem-quote">没 有 记 录 哦！</blockquote>
    {else}
    {include file='level/index_search'}
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-sort-td'>
                <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
            </th>
            <th>标题</th>
            <th></th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
            {foreach $list as $key=>$vo}
            <tr data-dbclick>
                <td class='list-table-sort-td'></td>
                <td class="nowrap"><span class="color-desc">{$vo.spl|raw}</span>{$vo.title}</td>
                <td class="nowrap"><span class="color-desc">{$vo.attributes|default=''}</span></td>
                <td class='text-center nowrap notselect'>

                    {if auth("add")}
                    <a class="layui-btn layui-btn-xs layui-btn-primary" data-title="添加子等级" data-modal='{:url("add")}?pid={$vo.project_level_id}'>添 加</a>
                    {/if}

                    {if auth("attribute")}
                    <a class="layui-btn layui-btn-xs layui-btn-primary" data-title="属性" data-modal='{:url("attribute")}?project_level_id={$vo.project_level_id}'>属 性</a>
                    {/if}

                    {if auth("edit")}
                    <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑等级" data-modal='{:url("edit")}?project_level_id={$vo.project_level_id}'>编 辑</a>
                    {/if}

                    {if auth("remove")}
                    <a class="layui-btn layui-btn-danger layui-btn-xs" data-confirm="确定要删除 '{$vo.title}' 以及子等级吗?" data-action="{:url('remove')}" data-value="project_level_id#{$vo.project_level_id}" data-csrf="{:systoken('remove')}">删 除</a>
                    {/if}

                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {/empty}
</div>
{/block}
