<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">项目类型</label>
            <div class="layui-input-block">
                <select id="project_level_id" name="project_level_id" required class="layui-select"></select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-block">
                <input name="project_name" required placeholder="请填写项目名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">省</label>
            <div class="layui-input-block">
                <select id="provinceAdd" lay-filter="provinceAdd" name="province_region_id" required class="layui-select">
                    <option value="0">请选择省</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" id="cityDiv" style="display: none;">
            <label class="layui-form-label">市</label>
            <div class="layui-input-block">
                <select id="cityAdd" lay-filter="cityAdd" name="city_region_id" required class="layui-select">
                    <option value="0">请选择市</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" id="areaDiv" style="display: none;">
            <label class="layui-form-label">区</label>
            <div class="layui-input-block">
                <select id="areaAdd" name="area_region_id" required class="layui-select">
                    <option value="0">请选择区</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remarks" placeholder="备注,非必填项,点击右下角可进行拉伸" class="layui-textarea"></textarea>
            </div>
        </div>

    </div>
    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

</form>
{block name="script"}
<script>
    $.ajax({
        url:"{:url('levelArray')}",
        method:"GET",
        success:function(data){
            tree = JSON.parse(data);
            for(var i = 0;i < tree.length;i++){
                $("#project_level_id").append("<option value='" + tree[i].project_level_id + "'><span class=\"color-desc\">" + tree[i].spl + "</span>" + tree[i].title + "</option>");
            }
            form.render();
        }
    });

    $.ajax({
        url:"{:url('region/index/province')}",
        method:"GET",
        success:function(data){
            data = JSON.parse(data);
            for(var i = 0;i < data.length;i++){
                $("#provinceAdd").append("<option value='" + data[i]["region_id"] + "'>" + data[i]["name"] + "</option>");
            }
            form.render();
        }
    });

    form.render();

    form.on('select(provinceAdd)', function(data){
        $("#cityDiv").css("display","none");
        $("#cityAdd").empty();
        $("#cityAdd").append("<option value='0'>请选择市</option>");
        $("#areaDiv").css("display","none");
        $("#areaAdd").empty();
        $("#areaAdd").append("<option value='0'>请选择区</option>");
        if(data.value <= 0){
            form.render();
            return;
        }
        $.ajax({
            url:"{:url('region/index/city')}?province_region_id=" + data.value,
            method:"GET",
            success:function(data){
                data = JSON.parse(data);
                for(var i = 0;i < data.length;i++){
                    $("#cityAdd").append("<option value='" + data[i]["region_id"] + "'>" + data[i]["name"] + "</option>");
                }
                form.render();
            }
        });
        $("#cityDiv").css("display","block");
    });

    form.on('select(cityAdd)', function(data){
        $("#areaDiv").css("display","none");
        $("#areaAdd").empty();
        $("#areaAdd").append("<option value='0'>请选择区</option>");
        if(data.value <= 0){
            form.render();
            return;
        }
        $.ajax({
            url:"{:url('region/index/area')}?city_region_id=" + data.value,
            method:"GET",
            success:function(data){
                data = JSON.parse(data);
                for(var i = 0;i < data.length;i++){
                    $("#areaAdd").append("<option value='" + data[i]["region_id"] + "'>" + data[i]["name"] + "</option>");
                }
                form.render();
            }
        });
        $("#areaDiv").css("display","block");
    });
</script>
{/block}
